{% extends 'base.html' %}
{% block content %}
    <style>
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
    </style>
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a style="color: #d50363" href="#reports_tab" data-toggle="tab"><i class="fa fa-bar-chart"></i>
                        Reports</a></li>
                    <li><a style="color: #007bd5" href="#farm_tab" data-toggle="tab"><i class="fa fa-server"></i> View
                        Farm</a></li>
                    <li class="active"><a style="color: #d56600" href="#jobs_tab" data-toggle="tab"><i
                            class="fa fa-tasks"></i> View Jobs</a></li>
{#                    <li><button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-job-modal"><i class="fa fa-rocket">Python Script</i></button></li>#}
                    <li class="dropdown">
                        <a style="color: #18a600" class="dropdown-toggle" data-toggle="dropdown" href="#"><i
                                class="fa fa-rocket"></i>
                            Submit Job <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#add-job-modal" href="#"><img
                                    src="/media/icons/apps/maya.png" width="20" height="20"> Maya Job</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
                                    src="/media/icons/apps/houdini.png" width="20" height="20"> Houdini Job</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
                                    src="/media/icons/apps/blender.png" width="22" height="22"> Blender Job</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
                                    src="/media/icons/apps/nuke.png" width="20" height="20"> Nuke</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
                                    src="/media/icons/apps/afx.png" width="20" height="20"> After Effects</a></li>
                        </ul>
                    <li class="pull-left header"><img src="/media/icons/apps/box.ico" width="48" height="48"> RenderBOX
                        2.0
                    </li>
                </ul>

                <!-- ADD JOB MODALS -->
                <div class="modal modal-success fade" id="add-job-modal">
                    <div class="modal-dialog">
                        <form class="form-horizontal uniform" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Maya Job</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-outline">Submit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

                <div class="tab-content">
                    <!-- / Jobs tab-pane -->
                    <div class="tab-pane active" id="jobs_tab">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">View Jobs</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="jobs_table" class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>App</th>
                                                <th>Department</th>
                                                <th>Category</th>
                                                <th>Group</th>

                                                <th>Name</th>
                                                <th>Comment</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th>On Completion</th>

                                                <th>Start Frame</th>
                                                <th>End Frame</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Submit Time</th>
                                                <th>Submit by</th>
                                                <th>Submit PC</th>
                                                <th>Submit IP</th>

                                                <th>Chunk Size</th>
                                                <th>File Path</th>
                                                <th>File Size</th>
                                                <th>Project Path</th>
                                                <th>Output Path</th>

                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Preview</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <img id="preview_img" src="/media/icons/default/preview.jpg" width="640"
                                             height="360">
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Selected Job Progress </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <canvas id="selected-job-canvas"></canvas>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /Farm tab-pane -->
                    <div class="tab-pane" id="farm_tab">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">View Render Farm</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="farm_table" class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>DESCRIPTION</th>
                                                <th>STATUS</th>
                                                <th>PLATFORM</th>
                                                <th>OS</th>
                                                <th>USERNAME</th>
                                                <th>ARCH</th>
                                                <th>HOSTNAME</th>
                                                <th>IDLE TIME</th>
                                                <th>RENDERING TIME</th>
                                                <th>UP TIME</th>
                                                <th>CPU</th>
                                                <th>CPU CORE</th>
                                                <th>L2 CACHE</th>
                                                <th>L3 CACHE</th>
                                                <th>CPU USAGE</th>
                                                <th>TOTAL RAM</th>
                                                <th>RAM USED</th>
                                                <th>IDLE RAM</th>
                                                <th>GPU CARD</th>
                                                <th>GPU MEMORY</th>
                                                <th>NETWORK SPEED</th>
                                                <th>IP</th>
                                                <th>MAC</th>
                                                <th>REGISTER TIME</th>
                                                <th>SYNC INTERVAL</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 id="client_resource_title" class="box-title">Client Resource Usages</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <canvas id="client_resource_usage_canvas"></canvas>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 id="client_task_title" class="box-title">Task Running</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <table id="client_task_table" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Process ID</th>
                                                <th>Task ID</th>
                                                <th>Status</th>
                                                <th>Progress</th>
                                                <th>Start Frame</th>
                                                <th>End Frame</th>
                                                <th>Wip Frame</th>

                                                <th>Start Time</th>
                                                <th>End Time</th>

                                            </tr>
                                            </thead>

                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /Reports tab-pane -->
                    <div class="tab-pane" id="reports_tab">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- interactive chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">Render Farm Usage</h3>

                                        <div class="box-tools pull-right">
                                            Real time
                                            <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                                <button type="button" class="btn btn-default btn-xs active"
                                                        data-toggle="on">On
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" data-toggle="off">
                                                    Off
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="interactive" style="width: 100%; height: 300px;"></div>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Line chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">Jobs Status</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <canvas id="jobs-chart-area"/>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->

                                <!-- Area chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">Full Width Area Chart</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="area-chart" style="height: 338px;" class="full-width-chart"></div>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->

                            <div class="col-md-6">
                                <!-- Bar chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">Bar Chart</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="bar-chart" style="height: 300px;"></div>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->

                                <!-- Donut chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">Donut Chart</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="donut-chart" style="height: 300px;"></div>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        var selected_job_config = {
            type: 'line',
            {#            here LABLE is frame and DATA is time #}
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                datasets: [{
                    label: "1080 Frame Render",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [5, 7, 2, 6, 8, 7, 4, 3, 2, 1],
                    fill: false,
                }, {
                    label: "540 Frame Render",
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [2, 5, 1, 4, 7, 3, 3, 1, 1, 1],
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Job Name : Seq061_Sh245_Lit_V005'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Frame'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Render Time (Min)'
                        }
                    }]
                }
            }
        };
        var jobs_report_pie_config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Red",
                    "Orange",
                    "Yellow",
                    "Green",
                    "Blue"
                ]
            },
            options: {
                responsive: true
            }
        };
        window.onload = function () {
            var selected_job_line_chart = document.getElementById("selected-job-canvas").getContext("2d");
            window.myLine = new Chart(selected_job_line_chart, selected_job_config);
            var jobs_report_pie = document.getElementById("jobs-chart-area").getContext("2d");
            window.myPie = new Chart(jobs_report_pie, jobs_report_pie_config);

        };
        var empty_client_resource_config = {
            type: 'line',
            data: {
                labels: Array.from(Array(8).keys()), // create a array with numbers [1,2,3,4,5....10]
                datasets: [{
                    label: "CPU usage",
                    borderColor: window.chartColors.red,
                    backgroundColor: window.chartColors.red,
                    data: [],
                    fill: false
                }, {
                    label: "RAM usage",
                    borderColor: window.chartColors.blue,
                    backgroundColor: window.chartColors.blue,
                    data: [],
                    fill: false
                }, {
                    label: "LAN usage",
                    borderColor: window.chartColors.green,
                    backgroundColor: window.chartColors.green,
                    data: [],
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: ""
                },
                tooltips: {
                    mode: 'index',
                },
                hover: {
                    mode: 'index'
                },
                scales: {
                    xAxes: [{
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: '60 Seconds'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '% Utilization'
                        },
                        ticks: {
                            min: 0,
                            max: 100,
                            stepSize: 20
                        }
                    }]
                }
            }
        };
        var client_resource_usage = document.getElementById("client_resource_usage_canvas").getContext("2d");
        var client_resource_chart = new Chart(client_resource_usage, empty_client_resource_config);
        var client_resource_config = {};

        var cpu_usage = [];
        var ram_usage = [];
        var lan_usage = [];

        function load_client_resource(client_id) {
            var client_data_raw = $.ajax({
                type: "get",
                url: '/api/renderbox/client/' + client_id + '/?format=json',
                dataType: "application/json",
                async: false
            }).responseText;
            var client_data = JSON.parse(client_data_raw);
            cpu_usage.unshift(client_data['cpu_usage']);
            if (cpu_usage.length > 9) {
                cpu_usage.length = 9;
            }
            ram_usage.unshift(client_data['ram_usage']);
            if (ram_usage.length > 9) {
                ram_usage.length = 9;
            }
            client_resource_config = {
                type: 'line',
                data: {
                    labels: Array.from(Array(8).keys()), // create a array with numbers [1,2,3,4,5....10]
                    datasets: [{
                        label: "CPU usage",
                        borderColor: window.chartColors.red,
                        backgroundColor: window.chartColors.red,
                        data: cpu_usage,
                        fill: false
                    }, {
                        label: "RAM usage",
                        borderColor: window.chartColors.blue,
                        backgroundColor: window.chartColors.blue,
                        data: ram_usage,
                        fill: false
                    }, {
                        label: "LAN usage",
                        borderColor: window.chartColors.green,
                        backgroundColor: window.chartColors.green,
                        data: lan_usage,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Up Time: " + client_data['up_time']
                    },
                    tooltips: {
                        mode: 'index',
                    },
                    hover: {
                        mode: 'index'
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                            scaleLabel: {
                                display: true,
                                labelString: '60 Seconds'
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: '% Utilization'
                            },
                            ticks: {
                                min: 0,
                                max: 100,
                                stepSize: 20
                            }
                        }]
                    }
                }
            };
            $("#client_resource_title").html("Host Name: " + client_data['host_name'] + ",       IP: " + client_data['ip_address']);
            $('#client_task_title').html('Task running on  ' + client_data['host_name'])
        }

        $(function () {
            var jobs_table = $('#jobs_table').DataTable({
                dom: 'Blfrtip',
                stateSave: true,
                scrollX: true,
                bPaginate: false,
                buttons: [
                    {extend: 'colvis', text: 'Filters '}
                ],
                ajax: {
                    url: "/api/renderbox/job/?format=json",
                    dataSrc: ''
                },
                columns: [
                    {"data": "id", "class": "job_id", "visible": true},
                    {
                        "data": "app", "class": "v-a-m ", "render": function (app, type, row) {
                            return `<div class="media media-auto">
                                        <div class="media-left">
                                            <div class="avatar">
                                                <img width=25 height=25
                                                     src=${ app.icon }
                                                     alt=${ app.name }
                                                     title=${ app.name }>
                                            </div>
                                        </div>
                                       <div class="media-body">
                                            <span class="media-heading">${ app.name }</span>
                                        </div>
                                    </div>`;
                        }
                    },
                    {
                        "data": "department", "visible": true, "render": function (department, type, row) {
                            return department.name;
                        }
                    },
                    {
                        "data": "category", "visible": true, "render": function (category, type, row) {
                            return category.name;
                        }
                    },
                    {
                        "data": "group", "visible": true, "render": function (group, type, row) {
                            return group.name;
                        }
                    },

                    {"data": "name", "visible": true},
                    {"data": "comment", "visible": true},
                    {
                        "data": "status", "class": "v-a-m ", "render": function (status, type, row) {
                            return `<div class="media media-auto">
                                        <div class="media-left">
                                            <div class="avatar">
                                                <img width=25 height=25
                                                     src=${ status.icon }
                                                     alt=${ status.name }
                                                     title=${ status.name }>
                                            </div>
                                        </div>
                                       <div class="media-body">
                                            <span class="media-heading">${ status.name }</span>
                                        </div>
                                    </div>`;
                        }
                    },
                    {"data": "priority", "visible": true},
                    {"data": "on_job_complete", "visible": true},

                    {"data": "start_frame", "visible": true},
                    {"data": "end_frame", "visible": true},
                    {"data": "start_time", "visible": true},
                    {"data": "end_time", "visible": true},
                    {"data": "submit_time", "visible": true},
                    {"data": "submit_by", "visible": true},
                    {"data": "submit_pc", "visible": true},
                    {"data": "submit_ip", "visible": true},

                    {"data": "chunk_size", "visible": true},
                    {"data": "file_path", "visible": true},
                    {"data": "file_size", "visible": true},
                    {"data": "project_path", "visible": true},
                    {"data": "output_path", "visible": true}
                ]
            });
            // ON CLICK EVENT ON JOBS TABLE
            jobs_table.on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    jobs_table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    var job_id = $(this).closest('tr').children('td.job_id').text();
                    console.log(job_id);
                }
            });
            // JOBS TABLE CONTEXT MENU
            $(document).contextMenu({
                selector: '#jobs_table td',
                callback: function (menu_item_name, options) {
                    var job_id = $(this).closest('tr').children('td.job_id').text();
                    switch (menu_item_name) {
                        case "start": {
                            console.log(job_id);
                            break;
                        }
                        case "stop": {
                            break;
                        }
                        case "open_project": {
                            break;
                        }
                        case "open_output": {
                            break;
                        }
                        case "log": {
                            break;
                        }
                        case "delete": {
                            break;
                        }
                    }
                },
                items: {
                    "start": {name: "Start job", icon: "fa-power-off"},
                    "stop": {name: "Stop job", icon: "fa-power-off"},
                    "open_project": {name: "Open Project folder", icon: "fa-folder"},
                    "open_output": {name: "Open Output folder", icon: "fa-folder-open"},
                    "log": {name: "View Log", icon: "fa-file-code"},
                    "delete": {name: "Delete", icon: "fa-trash"}
                }
            });


            var farm_table = $('#farm_table').DataTable({
                dom: 'Blfrtip',
                stateSave: true,
                bPaginate: false,
                scrollX: true,
                buttons: [
                    {extend: 'colvis', text: 'Filters '}
                ],
                ajax: {
                    url: "/api/renderbox/client/?format=json",
                    dataSrc: ''
                },
                columns: [
                    {"data": "id", "class": "client_id", "visible": true},
                    {"data": "description", "visible": true},
                    {
                        "data": "status", "class": "v-a-m ", "render": function (status, type, row) {
                            return `<div class="media media-auto">
                                        <div class="media-left">
                                            <div class="avatar">
                                                <img width=25 height=25
                                                     src=${ status.icon }
                                                     alt=${ status.name }
                                                     title=${ status.name }>
                                            </div>
                                        </div>
                                       <div class="media-body">
                                            <span class="media-heading">${ status.name }</span>
                                        </div>
                                    </div>`;
                        }
                    },
                    {"data": "os_platform", "visible": true},
                    {"data": "os_name", "visible": true},
                    {"data": "os_username", "visible": true},
                    {"data": "os_arch", "visible": true},
                    {"data": "host_name", "visible": true},
                    {"data": "idle_time", "visible": true},
                    {"data": "rendering_time", "visible": true},
                    {"data": "up_time", "visible": true},
                    {"data": "cpu_name", "visible": true},
                    {"data": "cpu_core", "visible": true},
                    {"data": "l2_cache", "visible": true},
                    {"data": "l3_cache", "visible": true},
                    {"data": "cpu_usage", "visible": true},
                    {"data": "total_ram", "visible": true},
                    {"data": "ram_usage", "visible": true},
                    {"data": "available_ram", "visible": true},
                    {"data": "gpu_card", "visible": true},
                    {"data": "gpu_memory", "visible": true},
                    {"data": "network_speed", "visible": true},
                    {"data": "ip_address", "visible": true},
                    {"data": "mac_address", "visible": true},
                    {"data": "client_register_time", "visible": true},
                    {"data": "sync_interval", "visible": true}
                ]

            });
            // ON CLICK EVENT ON FARM TABLE
            var refresh_interval = null;
            farm_table.on('click', 'tr', function () {
                if (refresh_interval) {
                    clearInterval(refresh_interval);
                }
                if (client_resource_chart) {
                    client_resource_chart.destroy();
                }
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $("#client_resource_title").html('Client Resource Usages');
                    $("#client_task_title").html('Task Running');
                    client_resource_chart = new Chart(client_resource_usage, empty_client_resource_config);
                }
                else {
                    farm_table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    var client_id = $(this).closest('tr').children('td.client_id').text();
                    // FIRST CLEAR EXISTING USAGE ARRAY
                    cpu_usage.length = 0;
                    ram_usage.length = 0;
                    lan_usage.length = 0;
                    load_client_resource(client_id);
                    client_resource_chart = new Chart(client_resource_usage, client_resource_config);
                    client_resource_chart.update();
                    refresh_interval = setInterval(function () {
                        load_client_resource(client_id);
                        client_resource_chart.update();
                    }, 1000);


                    // UPDATE CLIENT TASK TABLE


                }

            });
            // FARM TABLE CONTEXT MENU
            $(document).contextMenu({
                selector: '#farm_table td',
                callback: function (menu_item_name, options) {
                    var job_id = $(this).closest('tr').children('td.job_id').text();
                    switch (menu_item_name) {
                        case "start": {
                            console.log(job_id);
                            break;
                        }
                        case "stop": {
                            break;
                        }
                        case "open_project": {
                            break;
                        }
                        case "open_output": {
                            break;
                        }
                        case "log": {
                            break;
                        }
                        case "delete": {
                            break;
                        }
                    }
                },
                items: {
                    "start": {name: "Start", icon: "fa-power-off"},
                    "reboot": {name: "Reboot", icon: "fa-hourglass-start"},
                    "shutdown": {name: "Shutdown", icon: "fa-power-off"},
                    "log": {name: "View Log", icon: "fa-file-code"},
                    "remove": {name: "Remove from farm", icon: "fa-trash"},
                    "group": {
                        icon: "fa-object-group",
                        "name": "Add to Group",
                        "items": {
                            "project_a": {"name": "Project A"},
                            "project_b": {"name": "Project B"}
                        }
                    }
                }
            });

            var client_task_table = $('#client_task_table').DataTable();


            /* Flot Interactive Chart*/
            // We use an inline data source in the example, usually data would
            // be fetched from a server
            var data = [], totalPoints = 100;

            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1);
                // Do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;
                    if (y < 0) {
                        y = 0
                    } else if (y > 100) {
                        y = 100
                    }
                    data.push(y)
                }

                // Zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }

                return res
            }

            var interactive_plot = $.plot('#interactive', [getRandomData()], {
                grid: {
                    borderColor: '#f3f3f3',
                    borderWidth: 1,
                    tickColor: '#f3f3f3'
                },
                series: {
                    shadowSize: 0, // Drawing is faster without shadows
                    color: '#3c8dbc'
                },
                lines: {
                    fill: true, //Converts the line chart to area chart
                    color: '#3c8dbc'
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    show: true
                },
                xaxis: {
                    show: true
                }
            });
            var updateInterval = 500;//Fetch data ever x milliseconds
            var realtime = 'on';//If == to on then fetch data every x seconds. else stop fetching
            function update() {
                interactive_plot.setData([getRandomData()]);
                // Since the axes don't change, we don't need to call plot.setupGrid()
                interactive_plot.draw();
                if (realtime === 'on')
                    setTimeout(update, updateInterval)
            }

            //INITIALIZE REALTIME DATA FETCHING
            if (realtime === 'on') {
                update()
            }
            //REALTIME TOGGLE
            $('#realtime .btn').click(function () {
                if ($(this).data('toggle') === 'on') {
                    realtime = 'on'
                }
                else {
                    realtime = 'off'
                }
                update()
            })
            /* END INTERACTIVE CHART */
        })
    </script>

{% endblock content %}