<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% include 'title.html' %}</title>


<!-- START Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/media/icons/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/media/icons/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/media/icons/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/media/icons/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/media/icons/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/media/icons/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/media/icons/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/media/icons/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/media/icons/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/media/icons/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/icons/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/media/icons/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/icons/favicon/favicon-16x16.png">
<link rel="manifest" href="/media/icons/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/media/icons/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- END Favicon -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117929376-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-117929376-1');
</script>

<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
      href="/static/third_party/AdminLTE-2.4.3/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
      href="/static/third_party/AdminLTE-2.4.3/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/static/third_party/AdminLTE-2.4.3/bower_components/Ionicons/css/ionicons.min.css">
{#<!-- DataTables -->#}
{#<link rel="stylesheet"#}
{#      href="/static/third_party/AdminLTE-2.4.3/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">#}
<!-- Morris charts -->
<link rel="stylesheet" href="/static/third_party/AdminLTE-2.4.3/bower_components/morris.js/morris.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/third_party/AdminLTE-2.4.3/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/static/third_party/AdminLTE-2.4.3/dist/css/skins/_all-skins.min.css">

<link rel="stylesheet" href="/static/third_party/select2/select2.min.css">



<!-- Include Datatable CSS-->
<link rel="stylesheet" href="/static/third_party/DataTables-1.10.15/media/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/static/third_party/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/static/third_party/DataTables-1.10.15/extensions/Buttons/css/buttons.bootstrap.min.css">
<link rel="stylesheet" href="/static/third_party/DataTables-1.10.15/extensions/Responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="/static/third_party/DataTables-1.10.15/extensions/Responsive/css/responsive.bootstrap.min.css">
<link rel="stylesheet" href="/static/third_party/DataTables-1.10.15/extensions/Select/css/select.dataTables.min.css">



{#<style>#}
{#    DARK THEME CSS#}
{#    .content-wrapper, .box, .box-footer, .main-footer {#}
{#        background-color: rgba(35, 35, 35, 0.5);#}
{#    }#}
{##}
{#    body {#}
{#        color: #0b93d5;#}
{#    }#}
{##}
{#    .box-header {#}
{#        color: #0b93d5;#}
{#    }#}
{##}
{#    .box {#}
{#        border-top: 3px solid #464646;#}
{#    }#}
{##}
{#    .box-footer {#}
{#        border-top: 1px solid #464646;#}
{#    }#}
{##}
{#    .box-header.with-border {#}
{#        border-bottom: 1px solid #353535;#}
{#    }#}
{#    .tab-content, .nav-tabs-custom {#}
{#    background: #262527;#}
{#        border-bottom-color: #3f3e41;#}
{#}#}
{##}
{#</style>#}


<!-- fullCalendar -->
<link rel="stylesheet"
      href="/static/third_party/AdminLTE-2.4.3/bower_components/fullcalendar/dist/fullcalendar.min.css">
<link rel="stylesheet"
      href="/static/third_party/AdminLTE-2.4.3/bower_components/fullcalendar/dist/fullcalendar.print.min.css"
      media="print">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="/static/third_party/AdminLTE-2.4.3/html5shiv.min.js"></script>
<script src="/static/third_party/AdminLTE-2.4.3//respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<!-- jQuery 3 -->
<script src="/static/third_party/AdminLTE-2.4.3/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Chart JS -->
<script src="/static/third_party/Chart.js-2.7.1/dist/Chart.bundle.min.js"></script>
<script src="/static/third_party/Chart.js-2.7.1/samples/utils.js"></script>
<script src="/static/third_party/Chart.js-2.7.1/dist/Chart.min.js"></script>
